.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 20px;
}

.overview-container {
    background-color: brown;
    padding: 5px;
}

.overview-container .project-title-container {
    border: 0;
}

.overview-container .project-title-container button {
    border-radius: 10px 10px 10px 10px;
    top: 20%;
    bottom: 20%;
}
